<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <main class="code-container">
    <section class="editor editor-html"><h2>HTML</h2></section>
    <section class="editor editor-css"><h2>CSS</h2></section>
    <section class="editor editor-js"><h2>JS</h2></section>
  </main>
</body>
</html>
