<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <main class="wrapper">
    <div class="code-container">
      <section class="editor">
        <h2 class="editor-name">HTML
          <button type="button" id="refresh" name="button">SAVE</button></h2>
          <input type="text" name="subdomain" id="site-subdomain" value="<%= subdomain %>">
        <div id="editor-html"></div>
      </section>
      <section class="editor">
        <h2 class="editor-name">CSS</h2>
        <div id="editor-css"></div>
      </section>
      <section class="editor">
        <h2 class="editor-name">Javascript</h2>
        <div id="editor-javascript"></div>
      </section>
    </div>
    <div class="result-container">
      <iframe id="result" src="<%= resultURL %>"></iframe>
    </div>
  </main>
</body>
</html>
