<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <main class="code-container">
    <section class="editor">
      <h2 class="editor-name">HTML</h2>
      <div id="editor-html"></div>
    </section>
    <section class="editor">
      <h2 class="editor-name">CSS</h2>
      <div id="editor-css"></div>
    </section>
    <section class="editor">
      <h2 class="editor-name">Javascript</h2>
      <div id="editor-javascript"></div>
    </section>
  </main>
</body>
</html>
